name: Axios

on:
  push:
    branches:
      - main
  schedule:
     - cron: '0 0 * * *' # 每24小时一次，测试用

jobs:
  axios-action:
    runs-on: ubuntu-latest
    steps:
      - name: Call Auth API
        uses: actionsflow/axios@v1
        id: api
        with:
          url: https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/da328305-e098-4ff9-89b7-6e7f184a627e
          method: "POST"
      - run: echo ${{ steps.api.outputs.data }} # 打印数据
